
/* Fonts */

body {
    background: #efefef;
    margin: 0px;
}

a, a:hover, a:focus{
    text-display: none;
    color: white;
    text-decoration: none;
    font-family: Dancing Script;
}

/* Navbar */

header {
    font-weight: 700;
    display: flex;
}

nav {
    background: #460200;
    min-width: 100%;
    max-width: 100%;
}

.logo {
    width: 100px;
    height: 45px;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #460200;
    margin: 0 10.5%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

li a:hover {
    background-color: #cc9328;
    color: #460200;
}

/* Burger Menu */
@media (min-width: 1200px){
    .topnav {
        display: none;
    }
}

@media (max-width: 1200px){

    ul {
        display: none;
    }
    .logo {
        width: 100px;
        height: 45px;
        margin-top: 1%;
        margin-left: -2%;
        border-radius: 0;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        margin: 0 12%;
        font-size: 30px;
    }

    hr {
        color: black;
        background: black;
    }

    .link-burger:hover {
        background: #cc9328;
        color: #460200;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: -17px;
        top: 1%;
        font-size: 40px;
    }

    nav {
        background-color: #460200;
    }

    .active {
        background-color: #460200;
        color: white;
    }
}

/* Block description */

.description-site {
    min-width: 76%;
    max-width: 76%;
    min-height: 200px;
    max-height: 800px;
    margin: 0 12%;
}

.inscription {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    color: #0a66c2;
}

.inscription:hover {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    color: #460200;
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 3%;
    font-size: 34px;
    color: #460200;
    background: #cc9328;
}

.p-description{
    text-align: justify;
    margin: 2% 0;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

.img-chronologie {
    margin: 0 26%;
    display: flex;
    align-items: center;
    width: 50%;
    height: 200px;
}

@media (max-width: 1300px) {
    .img-chronologie {
        margin: 0 17%;
        width: 66%;
        height: 200px;
    }
}

@media (max-width: 1100px) {
    .img-chronologie {
        margin: 0 12%;
        width: 76%;
        height: 200px;
    }
}

/* Chronologie */

#chronology {
    margin: 0 12%;
}

.cart {
    float: left;
    width: 33.33333%;
    display:flex;
}

article {
    border: 1px ridge lightgray;
    margin: 10% 10%;
    border-radius: 10px;
    align-items: center;
    background: #cc9328;
    color: #460200;
    min-height: 955px;
    max-height: 100%;
}

article:hover {
    color: #cc9328;
    background: #460200;
}

h4 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
    color: #460200;
    background: #cc9328;
}

img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

p {
    text-align: justify;
    margin: 2% 10%;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

.link-card:hover {
    color: #460200
}

/* Chronologie tablette */

@media (max-width: 1350px) {
    .cart {
        float: left;
        width: 50%;
    }
    #chronology {
        margin: 0 12%;
    }
}

/* Chronologie smartphone */

@media (max-width: 850px) {
    .cart {
        float: left;
        width: 100%;
    }
    #chronology {
        margin: 0 12%;
    }
}

/* Footer */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: grey;
    color: black;
    float: right;
}

.links-footer {
    float: left;
    width: 100%;
    height: 100px;
    display:flex;
    background: grey;
    align-items: center;

}

.link-footer {
    color: black;
}

.link-footer:hover {
    color: white;
}

a {
    margin-right: auto;
    margin-left: auto;
    font-family: Dancing Script;
    font-size: 30px;
}

h5 {
    font-family: Dancing Script;
    font-size: 30px;
    float: left;
    margin-left: 18.5%;
}

.div-footer-1 {
    width: 78%;
    height: 50px;
    display: flex;
    align-items: center;
}

.div-footer-2 {
    width: 22%;
    height: 50px;
    display: flex;
    align-items: center;
}

.social-links {
    float: right;
    justify-content: space-between;
    position: absolute;
}

i {
    font-size: 35px;
}

.facebook:hover {
    color: #3b5998;
}

.linkedin:hover {
    color: #0a66c2;
}

.instagram:hover {
    color: rebeccapurple;
}

.twitter:hover {
    color: #1c9be9;
}

@media (max-width: 1200px) {
    footer {
        display: none;
    }
}

/* Formulaire */

@media (min-width: 1200px) {

    .medium-form {
        display: none;
    }

    form {
        margin: 10% 12%;
        border: 1px solid #460200;
    }

    .span-form {
        display: block;
        text-align: center;
        justify-content: space-between;
        margin: 5%;
    }

    .form-input {
        width: 25.4%;
        height: 45px;
        color: #460200;
        background: #cc9328;
        border: none;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }

    option {
        color: #460200;
        background: #cc9328;
        border: none;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }

    select {
        width: 25.7%;
        height: 50px;
        color: #460200;
        background: #cc9328;
        border: none;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
    }

    /*select:hover {

        background: #460200;
        color: #cc9328;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
    }*/

    textarea {
        min-width: 51.5%;
        max-width: 51.5%;
        min-height: 135px;
        max-height: 135px;
        color: #460200;
        background: #cc9328;
        border: none;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        outline-style: none;
    }

    input {
        width: 13.7%;
        height: 20px;
        outline-style: none;
    }

    .span-form-input {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 23.5%;
        max-width: 49.7%;
    }

    .span-form-input-2 {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 23.5%;
        max-width: 49.7%;
        margin-top: 5%;
    }

    .valid-form {
        width: 51.7%;
        height: 40px;
        background: #460200;
        color: #cc9328;
        font-family: Dancing Script;
        font-size: 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-check-input {
        cursor: pointer;
    }

    .form-check-label {
        color: #460200;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }

    .valid-form:hover {
        width: 51.7%;
        height: 40px;
        color: #460200;
        background: #cc9328;
        font-family: Dancing Script;
        font-size: 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .select-sexe {
        display: block;
        width: 47%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5%;
    }

    .races-select {
        display: block;
        width: 47%;
        margin-right: auto;
        margin-left: auto;
        height: 310px;
        text-align: center;
        appearance: none;
    }
}
@media (max-width: 1200px) {

    .big-form {
        display: none;
    }

    form {
        margin: 10% 12%;
        border: 1px solid #460200;
    }

    .span-form {
        display: block;
        text-align: center;
        justify-content: space-between;
        margin: 5%;
    }

    .span-form-2 {
        display: block;
        justify-content: center;
    }


    .races-select {
        display: block;
        text-align: center;
        height: 280px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-input {
        min-width: 280px;
        height: 45px;
        color: #460200;
        background: #cc9328;
        border: none;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        outline-style: none;
    }

    select {
        min-width: 280px;
        height: 40px;
        color: #460200;
        background: #cc9328;
        border: none;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
    }

    /*select:hover {
        min-width: 280px;
        height: 40px;
        background: #460200;
        color: #cc9328;
        border: none;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
    }*/

    textarea {
        min-width: 280px;
        max-width: 280px;
        min-height: 135px;
        max-height: 135px;
        color: #460200;
        background: #cc9328;
        border: none;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        outline-style: none;
    }

    input {
        width: 13.7%;
        height: 20px;
    }

    .form-check-input {
        cursor: pointer;
    }

    .form-check-label {
        color: #460200;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }

    .span-form-input {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        min-width: 300px;
        max-width: 300px;
    }

    .span-form-input-2 {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        min-width: 300px;
        max-width: 300px;
        margin-top: 5%;
    }

    .valid-form {
        min-width: 280px;
        height: 40px;
        background: #460200;
        color: #cc9328;
        font-family: Dancing Script;
        font-size: 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .valid-form:hover {
        min-width: 280px;
        height: 40px;
        color: #460200;
        background: #cc9328;
        font-family: Dancing Script;
        font-size: 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

/* all-history pages */

.description-h-p {
    min-width: 76%;
    max-width: 76%;
    min-height: 100%;
    max-height: 100%;
    margin: 0 12%;
}

.img-h-p {
    width: 100%;
    height: 500px;
}

h3 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 3%;
    font-size: 34px;
    color: #460200;
    background: #cc9328;
}

.h-p-description {
    text-align: justify;
    margin: 2% 0;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

@media (min-width: 1200px) {

    .tablette-button {
        display: none;
    }

    .link-next {
        display: block;
        text-align: center;
        float: right;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 26px;
        background: #460200;
        color: #cc9328;
        border: none;
        border-radius: 4px;
        width: 15%;
        height:5%;
        cursor: pointer;
    }

    .link-next:hover {
        color: #460200;
        background: #cc9328;
        border: 1px solid #460200;
    }

    .link-back {
        display: block;
        text-align: center;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 26px;
        background: #460200;
        color: #cc9328;
        border: none;
        border-radius: 4px;
        width: 15%;
        height:5%;
        cursor: pointer;
    }

    .link-back:hover {
        color: #460200;
        background: #cc9328;
        border: 1px solid #460200;
    }
}

@media (max-width: 1200px) {

    .web-button {
        display: none;
    }

    .img-h-p {
        height: 300px;
    }

    .link-next {
        display: block;
        text-align: center;
        float: right;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 26px;
        background: #460200;
        color: #cc9328;
        border: none;
        border-radius: 4px;
        width: 15%;
        height:5%;
        cursor: pointer;
    }

    .link-next:hover {
        color: #460200;
        background: #cc9328;
        border: 1px solid #460200;
    }

    .link-back {
        display: block;
        text-align: center;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 26px;
        background: #460200;
        color: #cc9328;
        border: none;
        border-radius: 4px;
        width: 15%;
        height:5%;
        cursor: pointer;
    }

    .link-back:hover {
        color: #460200;
        background: #cc9328;
        border: 1px solid #460200;
    }
}
