
/* Fonts */

@font-face {
    font-family: Dancing Script;
    font-weight: 400;
}

@font-face {
    font-family: Dancing Script;
    font-weight: 500;
}

@font-face {
    font-family: Dancing Script;
    font-weight: 700;
}

body {
    background: #efefef;
    margin: 0px;
}

a, a:hover, a:focus{
    text-display: none;
    color: white;
    text-decoration: none;
    font-family: Dancing Script;
}

/* Navbar */

header {
    font-weight: 700;
    display: flex;
}

nav {
    background: #460200;
    min-width: 100%;
    max-width: 100%;
}

.logo {
    width: 100px;
    height: 45px;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #460200;
    margin: 0 10.5%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

li a:hover {
    background-color: #cc9328;
    color: #460200;
}

@media (min-width: 1200px){
    .topnav {
        display: none;
    }
}

@media (max-width: 1200px){
    ul {
        display: none;
    }
    .logo {
        width: 100px;
        height: 45px;
        margin-top: 1%;
        margin-left: -2%;
        border-radius: 0;
    }
    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        margin: 0 11%;
        font-size: 30px;
    }

    .link-burger:hover {
        background: #cc9328;
        color: #460200;
    }

    .topnav a.icon {
        background: #460200;
        display: block;
        position: absolute;
        right: -25px;
        top: 0;
        color: #cc9328;
        font-size: 40px;
    }

    nav {
        background-color: #460200;
    }

    .active {
        background-color: #460200;
        color: white;
    }
}

@media (min-width: 1200px){
    .topnav {
        display: none;
    }
}

@media (max-width: 1200px){
    ul {
        display: none;
    }
    .logo {
        width: 100px;
        height: 45px;
        margin-top: 1%;
        margin-left: -2%;
        border-radius: 0;
    }
    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        margin: 0 12%;
        font-size: 30px;
    }

    hr {
        color: black;
        background: black;
    }

    .link-burger:hover {
        background: #cc9328;
        color: #460200;
    }

    .topnav a.icon {
        background: #460200;
        display: block;
        position: absolute;
        right: -25px;
        top: 0;
        color: #cc9328;
        font-size: 40px;
    }

    nav {
        background-color: #460200;
    }

    .active {
        background-color: #460200;
        color: white;
    }
}

/* Block description */

#description-site {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 800px;
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 3%;
}

p{
    text-align: justify;
    margin: 2% 12%;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

.img-chronologie {
    margin: 0 26%;
    display: flex;
    align-items: center;
    width: 50%;
    height: 200px;
}

@media (max-width: 1300px) {
    .img-chronologie {
        margin: 0 17%;
        width: 66%;
        height: 200px;
    }
}

@media (max-width: 1100px) {
    .img-chronologie {
        margin: 0 12%;
        width: 76%;
        height: 200px;
    }
}

/* Chronologie */

#chronology {
    margin: 0 9%;
}

.cart {
    float: left;
    width: 33.33333%;
    display:flex;
}

h3, h4 {
    text-align: center;
}

article {
    border: 1px ridge lightgray;
    margin: 10% 10%;
    background: white;
    border-radius: 10px;
    align-items: center;
}

img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

button {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background: #460200;
    color: #cc9328;
    border: none;
    border-radius: 4px;
    width: 50%;
    height:5%;
    cursor: pointer;
}

.button:hover {
    background: #cc9328;
    color: #460200;
}

.link-card {
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.link-card:hover {
    width: 100%;
    height: 100%;
}

/* Chronologie tablette */

@media (max-width: 1350px) {
    .cart {
        float: left;
        width: 50%;
    }
    #chronology {
        margin: 0 7%;
    }
}

/* Chronologie smartphone */

@media (max-width: 850px) {
    .cart {
        float: left;
        width: 100%;
    }
    #chronology {
        margin: 0 2%;
    }
}

/* Footer */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: grey;
    float: right;
}

.links-footer {
    float: left;
    width: 76.5%;
    height: 100px;
    display:flex;
    background: grey;
    align-items: center;
    margin: 0 11%;
}

a {
    margin-right: auto;
    margin-left: auto;
    font-family: Dancing Script;
    font-size: 30px;
}

h5 {
    font-family: Dancing Script;
    font-size: 30px;
    float: left;
    margin-left: 10.5%;
}

i {
    color: white;
    font-size: 35px;
    justify-content: space-between;
    margin: 12px 12px 0 0;
}

.social-links {
    margin-left: 43%;
}

.facebook:hover {
    color: #3b5998;
}

.linkedin:hover {
    color: #0a66c2;
}

.instagram:hover {
    background: linear-gradient(to top right, yellow, red, rebeccapurple);
}

.twitter:hover {
    color: #1c9be9;
}

@media (max-width: 1350px) {
    footer {
        display: none;
    }
}

/* Formulaire */

form {
    margin: 10% 10%;
    border: 1px solid black;
}

.span-form {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin: 5%;
 }

.form-input {
    width: 25%;
    height: 35px;
}

select {
    width: 25.7%;
    height: 40px;
}

textarea {
    min-width: 51%;
    max-width: 51%;
    min-height: 135px;
    max-height: 135px;
}

input {
    width: 13.7%;
    height: 20px;
}

.span-form-input {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin-left: -7%;
}

.valid-form {
    width: 51.7%;
    height: 40px;
    background: #460200;
    color: #cc9328;
    font-family: Dancing Script;
    font-size: 30px;
    border: none;
    border-radius: 4px;
}